header h1 {
	text-align: center;
	font-size: 300%;
	color: 	 #562151;
}
header nav {
	text-align: center;
}
header nav a {
	text-decoration: none;
	color: #FB8987;
}
hr {
	color: #f7f7f7;
	margin-top: 45px;
	max-width: 600px;
}
.container article p {
	text-align: justify;
	margin-top: 30px;
	margin-left: 500px;
    margin-right: 500px;
}
.quote p {
	text-align: center;
	color: #562151;
	font-style: italic;
	margin-top: 50px;
}
.quote p::after {
	content: "🧘";
	font-style: normal;
}
video {
	margin-left: 500px;
	margin-top: 10px;
}
.guestbook img {
	width: 75px;
	height: 75px;
	margin-left: 1000px;
	position: absolute;
	top: 450px;

}
.guestbook p {
	margin-left: 900px;
	position: absolute;
	top: 520px;
	text-align: center;
	font-style: italic;
}
.guestbook a {
	text-decoration: none;
}
blockquote {
	margin-left: 500px;
}

.about h1 {
	margin-left: 500px;
}
.about p {
	text-align: justify;
	margin-left: 500px;
	margin-right: 500px;
}
.company {
	text-align: justify;
	margin-left: 500px;
	margin-right: 500px;
}
.project {
	text-align: justify;
	margin-left: 500px;
	margin-right: 500px;
}
.project a {
	text-decoration: none;
}
.contact {
	text-align: justify;
	margin-left: 500px;
	margin-right: 500px;
}
.contact a {
	text-decoration: none;
}
.tech {
	text-align: justify;
	margin-left: 500px;
	margin-right: 500px;
}
footer {
	text-align: center;
	margin-top: 55px;
}
footer a{
	text-align: center;
	text-decoration: none;
}
.dark-mode {
	background-color: black;
	color: white;
  }
button {
	margin-left: 1370px;
	top: 10px;
	position: absolute;
}

