body {
	max-width: 900px;
	margin: auto;
}

p {
	text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
}

a{
    text-decoration: none;
}
a:hover {
    font-style: italic;
}

footer span{
    text-align: center;
    margin-top: 0.5em;
}

header {
    text-align: center;
}
header h1 {
    font-size: 300%;
}
header nav a{
    padding: 0.5em;
}

header, footer {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
header h1 span{
    color: purple;
}

article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}

ul { 
	text-align: left; 
	margin-top: 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blockquote {
    font-style: italic;
	margin-top: 50px;
}
blockquote::after { 
	content: "🧘";
	font-style: normal;
}

p:has(> img){
    text-align: center;
}

.dark-mode {
	background-color: black;
	color: white;
  }
header button {
	width: fit-content;
	position: static;
}

